/*** Clean CSS ***/
body {
    margin: 0px;
    padding-top: 60px;
}
* {
  user-select: none;
}
input {
  user-select: auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1 {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 10px;
}
h2 {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 10px;
  padding: 0 0 0.5em 0;
}
/*** END ***/

/*** LAZY:hover <Nav /> ***/
.ct-nav-item-open, .ct-nav-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.ct-nav-win-icons img:hover{
  opacity: .75
}
/*** END ***/

/*** tables ***/
table {
    border-collapse: collapse;
    width: 100%;
}
td em {
    font-size: 0.9em;
    opacity: 0.8;
    display: block;
    font-style: normal;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 6px;
}
tr.hover:hover{
  background-color: rgba(200, 200, 200, 0.3);
}
/*** END ***/

/*** item status ***/
.ct-item-status {
    text-align: center;
    color: black;
    background-color: #f28282;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    padding: 3px 4px;
    white-space: nowrap
}
.ct-item-status.AVAILABLE {
    background-color: #d4f296;
}
/*** END ***/

/*  scroll bar  */
::-webkit-scrollbar {
  width: 10px;
	border-radius: 10px;
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: #eee;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
  background: #ddd;
}
/*** END ***/

.SB {
    color: #555;
    font-weight: bold;
    line-height: 2.2em;
    margin-right: 1.2em !important;
    padding-right: 1em;
}
.SB div {
    width: 1.6em;
    height: 1.6em;
    border-radius: 0.3em;
    border-size: 1px;
    border-style: solid;
    display: block;
    text-shadow: none;
    float: left;
    margin: 3px;
    clear: none;
    text-align: center;
}
.PRE {
    border: solid 1px #cccccc;
    background-color: #cccccc;
}
.PEND {
    border: solid 1px #1a979c;
    background-color: #1a979c;
}
.HOLD {
    border: solid 1px #2b3d51;
    background-color: #2b3d51;
}
.PART {
    border: solid 1px #80898f;
    background-color: #80898f;
}
.PAID {
    border: solid 1px #91b262;
    background-color: #91b262;
}
.WAIT {
    border: solid 1px #55007c;
    background-color: #55007c;
}
.STOP {
    border: solid 1px #bb2244;
    background-color: #bb2244;
}
.VOID {
    border: solid 1px #999999;
    background-color: #999999;
}
.BLOKI {
    border: solid 1px #000000;
    background-color: #000000;
}
.STATE {
    border: solid 1px #ff8c00;
    background-color: #ff8c00;
}
.PRIVA {
    border: solid 1px #808000;
    background-color: #808000;
}
.REQUE {
    border: solid 1px #ff4500;
    background-color: #ff4500;
}
.hdr {
    color: #ffffff;
    background-color: #d2691e;
}
.hdr a,
.hdr a:hover {
    color: #ffffff;
}
